/* --------------------------------------------------------------------
** new_epic_pn_post.css -- CSS to layout new epic part number entry form.
**
** Created 2018-09-24 DLB
** --------------------------------------------------------------------
*/

.param_block {float:left; width 400px; height: 75px;}
.param_label

#nep_project {float: left; width: 400px; height: 100px;}
#nep_project_block {}
#nep_project_label {}
#nep_project_field {}

#nep_designer {float: left; width: 250px; margin-left: 0px; top: 0px; height: 100px;}
#nep_designer_block {}
#nep_designer_label {}
#nep_designer_field {}

#nep_subsystem {float: left; width: 400px; margin-left: 0px; height: 100px;}
#nep_subsystem_block {}
#nep_subsystem_label {}
#nep_subsystem_field {}

#nep_parttype {float: left; width: 250px; margin-left: 0px; height: 100px;}
#nep_parttype_block {}
#nep_parttype_label {}
#nep_parttype_field {}

#nep_desc {clear: both; }
#nep_desc_block {}
#nep_desc_label {}
#nep_desc_field { font-size: 16px;  font-family: monospace;}