/* --------------------------------------------------------------------
** new_supplier_pn_post.css -- CSS to layout new supplier part number entry form.
**
** Created 2018-09-24 DLB
** --------------------------------------------------------------------
*/

.param_block {float:left; width 400px; height: 75px;}
.param_label

#nsp_category {float: left; width: 400px; height: 100px;}
#nsp_category_block {}
#nsp_category_label {}
#nsp_category_field {}

#nsp_designer {float: left; width: 250px; margin-left: 0px; top: 0px; height: 100px;}
#nsp_designer_block {}
#nsp_designer_label {}
#nsp_designer_field {}

#nsp_vendor {float: left; width: 400px; margin-left: 0px; height: 100px;}
#nsp_vendor_block {}
#nsp_vendor_label {}
#nsp_vendor_field {}

#nsp_vendorpn {float: left; width: 250px; margin-left: 0px; height: 100px;}
#nsp_vendorpn_block {}
#nsp_vendorpn_label {}
#nsp_vendorpn_field {}

#nsp_weblink {float: left; width: 250px; margin-left: 0px; height: 100px;}
#nsp_weblink_block {}
#nsp_weblink_label {}
#nsp_weblink_field {}

#nsp_desc {clear: both; }
#nsp_desc_block {}
#nsp_desc_label {}
#nsp_desc_field { font-size: 16px;  font-family: monospace;}