{{/*
// --------------------------------------------------------------------
// about.tmpl -- About info.
//
// Created: 2018-09-23 DLB
//
// --------------------------------------------------------------------
*/}}

 <style>
    .content_area {min-height: 275px; } 
 </style>

<div class="content_area">

<div class="page_title">About this Web Site</div>

<div class="markdown">

<p>This website is provide for Epic Robotz, team number 4415.  It manages the creation
of part numbers for the CAD team.  It also holds a list of
all parts designed by Epic Robotz.</p>

<p>Writen in Fall 2018 by D. Brandon and various students, in honnor of our 
retired CAD Lord, Kyle Dominguez, who invented our Part Numbering System. 
May he have a full and happy life CADing away.</p> 

</div>

</div>