{{/*
// --------------------------------------------------------------------
// edit_supplier_part.tmpl -- template to edit a part number
//
// Created 2018-10-01 DLB
// --------------------------------------------------------------------
*/}}


<script src="js/fill_selbox.js"></script>

<script type="application/json" id="designers">
{{.DesignersJson}}
</script>

<script type="application/json" id="vendors">
{{.KnownVendorsJson}}
</script>

<script type="text/javascript">

var gShowAllDesigners = false

function updateActiveUI() {
    if (gShowAllDesigners) {
        document.getElementById("ept_designer_active_btn").innerHTML = "Show Some";
    } else {
        document.getElementById("ept_designer_active_btn").innerHTML = "Show All";
    }
}

function toggleActiveDesigners() {
    gShowAllDesigners = !gShowAllDesigners;
    updateActiveUI();
    fillDesigners("ept_designer_field", gShowAllDesigners);
}

function proc_vendor() {
    sel = document.getElementById("ept_vendor_field2");
    if (sel.value == "<new vendor>") {
        d = document.getElementById("ept_vendor_selbox");
        d.style.display = "none";
        txt = document.getElementById("ept_vendor_txtbox");
        txt.style.display="block";
        txtbox = document.getElementById("ept_vendor_field1");
        txtbox.value = "<put vendor name here>";
        return
    }

    txt = document.getElementById("ept_vendor_field1");
    txt.value = sel.value;
}

function restore_vendor_selbox() {
    d = document.getElementById("ept_vendor_selbox");
    d.style.display = "block";
    txt = document.getElementById("ept_vendor_txtbox");
    txt.style.display="none";
    fillVendors("ept_vendor_field2", false, true);
}

function setTextBox(fieldid, txt) {
    var d = document.getElementById(fieldid);
    d.text = txt;
    d.value = txt ;
}

function startUp() {
    updateActiveUI();
    fillDesigners("ept_designer_field", gShowAllDesigners);
    fillVendors("ept_vendor_field2", false, true);
    //setDesinger("{{.Designer}}")
    restore_vendor_selbox();
    var ok = setSelectionBox("ept_designer_field", "{{.Designer}}");
    if (!ok) {
        toggleActiveDesigners()
        setSelectionBox("ept_designer_field", "{{.Designer}}");
    }

    setSelectionBox("ept_vendor_field2", "{{.Vendor}}");
    setTextBox("ept_vendorpn_field", "{{.VendorPN}}");
    setTextBox("ept_weblink_field", "{{.WebLink}}");
    setTextBox("ept_desc_field", "{{.Description}}");
    setTextBox("ept_partnumber_field", "{{.PartNumber}}");
}

</script>

<div class="content_area">
<div class="page_title"> {{- .PageTitle -}}</div>

<div id="ept_partinfo_area">
  <div id="ept_partnumber" class="partnumber">{{.PartNumber}}</div>

  <div id="ept_category_block" class="param_block">
  <div id="ept_category_label" class="param_label">Category:</div>
  <div id="ept_category_value" class="param_value">{{.Category}}</div>
  </div>

  <div id="ept_seqnum_block" class="param_block">
  <div id="ept_seqnum_label" class="param_label">Seq Num:</div>
  <div id="ept_seqnum_value" class="param_value">{{.SequenceNumber}}</div>
  </div>

  <div id="ept_dateissued_block" class="param_block">
  <div id="ept_dateissued_label" class="param_label">Date Issued:</div>
  <div id="ept_dateissued_value" class="param_value">{{.DateIssued}}</div>
  </div>

  <div id="ept_pid_block" class="param_block">
  <div id="ept_pid_label" class="param_label">PID:</div>
  <div id="ept_pid_value" class="param_value">{{.PID}}</div>
  </div>
</div>

<div class="inputform_area">
    <form action="EditSupplierPNPost" method="post">

    <div id="ept_designer">
        <div class="inputform_paramblock" id="ept_designer_block">
            <div class="inputform_label" id="ept_designer_label">Designer</div>
            <div class="inputform_selection">
                <select id="ept_designer_field" name="Designer"></select>
               <div id="ept_designer_active_div" class="active_btn_div">
                  <button type="button" id="ept_designer_active_btn" class="active_btn" onclick="toggleActiveDesigners()">Show All</button>
               </div>
            </div>
        </div>
    </div>

    <div id="ept_vendor">
    <div id="ept_vendor_txtbox">
        <div class="inputform_paramblock" id="ept_vendor_block1">
            <div class="inputform_label" id="ept_vendor_label1">Vendor</div>
            <div class="inputform_text_field">
                <input type="text"  id="ept_vendor_field1" name="Vendor"> </textarea>
            </div>
            <div class="restore_sel_btn">
                <button type="button" id="ept_restore_sel_btn" class="restore_btn"
                onclick="restore_vendor_selbox()">^</button>
            </div>

        </div>
    </div>
    <div id="ept_vendor_selbox">
        <div class="inputform_paramblock" id="ept_vendor_block2">
            <div class="inputform_label" id="ept_vendor_label2">Vendor</div>
            <div class="inputform_selection">
                <select id="ept_vendor_field2" name="VendorSel" onchange="proc_vendor()"></select>
            </div>
        </div>
    </div>
  </div>

    <div id="ept_vendorpn">
        <div class="inputform_paramblock" id="ept_vendorpn_block">
            <div class="inputform_label" id="ept_vendorpn_label">Vendor Part Number</div>
            <div class="inputform_text_field">
                <input type="text"  id="ept_vendorpn_field" name="VendorPN">
            </div>
        </div>
    </div>
    
    <div id="ept_weblink">
        <div class="inputform_paramblock" id="ept_weblink_block">
            <div class="inputform_label" id="ept_weblink_label">Web Link</div>
            <div class="inputform_text_field">
                <input type="text"  id="ept_weblink_field" name="WebLink"> 
            </div>
        </div>
    </div>

    <div id="ept_desc">
        <div class="inputform_paramblock"  id="ept_desc_block">
            <div class="inputform_label" id="ept_desc_label">Description</div>
            <div class="inputform_textarea">
                <textarea  id="ept_desc_field" name="Description"  rows="2" cols="45" >
                </textarea>
            </div>
        </div>
    </div>

    <div id="ept_partnumber_hidden" style="display: none;">
        <input type="text" name="PartNumber" value="{{.PartNumber}}">
    </div>

    <div style="clear: both;"></div>
    <div class="inputform_paramblock">
    <div class="btn_form_submit_div">
        <input class="btn_form_submit" type="submit" value="Submit">
    </div>
    </form>
</div>

</div>
