{{/*
// --------------------------------------------------------------------
// footer.tmpl -- footer template for all pages that use header.tmpl
//
// Created 12/29/14 DLB
// --------------------------------------------------------------------
*/}}

</div> <!-- this div is to end the middle area. -->

<div style="clear: both; height: 2px"></div>

<div id="footer_area">
    <div id="footer_msg">
        <span> Valley Christian High School, Cerritos CA</span> 
        <span style="margin-left: 20px">2019/2020 Season</span>
    </div>
    <div id="footer_home_link">
        {{if .HideAboutLink}} {{else}}
        <a href="About">About</a> {{end}}
    </div>
</div>

</div>  <!-- End of screen div. -->

</body>
</html>
