{{/*
// --------------------------------------------------------------------
// help.tmpl -- About info.
//
// Created: 2018-09-23 DLB
//
// --------------------------------------------------------------------
*/}}


<div class="content_area">

<div class="page_title">Help</div>

<div class="markdown">

<p> Each time you invent a new part and make a drawing for it, you
will need a new part number.  This "number"  (its not really a number!) is used
to refer to the drawing you have created.  It is also used as the file name  
to store your drawing on disk, and to "check it in" to the Product Data Management
(or "PDM") system.</p>

<p>Use this web site to generate a part number for anything you
design for Epic Robotz.  Then, before you save your CAD file for the first
time, use the part number as the file name of the drawing you have created.
Once you have saved your drawing, you can then "check it in" to the PDM system
in the proper place.  That is really all there is to it.</p>

<p>However, please note that this web site does not "talk" to our PDM system.
So it is up to you to make sure things are coordinated.  That is, once you have
a part number, and name your CAD file with it, it is important that you check it 
in to the proper folder inside of the PDM system.  The proper folder is <b>usually</b>
named after the project and subsystem for EPIC parts.  For Supplier parts, 
the proper folder is organized by supplier category.</p>

<p>If all the above is not clear to you, make sure you talk to a mentor or a CAD 
leader.</p>

</div>

</div>