{{/*
// --------------------------------------------------------------------
// help.tmpl -- help page
//
// Created 2018-09-23 DLB
// --------------------------------------------------------------------
*/}}

<div id="help_area">
    {{.HelpInfo}}
</div>
