<!DOCTYPE html>
<html>
<head>
<title> {{- .PageTitle -}} </title>
<link rel="stylesheet" type="text/css" href="../css/global.css">
<body>
<h1> {{- .PageHeader -}} </h1>

This is the main page...

</body>
</html>