{{/*
// --------------------------------------------------------------------
// menubar.tmpl -- New Part Number Menu Bar.
//
// Created: 2018-09-23 DLB
//
// --------------------------------------------------------------------
*/}}


{{if .IsLoggedIn}}
<div class="menubar_area">

<div class="btn_menu_div">
<a class="btn_menu" href="NewEpicPN">New Epic PN</a>
</div>

<div class="btn_menu_div">
<a class="btn_menu" href="NewSupplierPN">New Supplier PN</a>
</div>

<div class="btn_menu_div">
<a class="btn_menu" href="Find">Find</a>
</div>

{{if .IsAdmin}}
<div class="btn_menu_div">
<a class="btn_menu" href="Admin">Admin</a>
</div>
{{end}}

<div class="btn_menu_div">
<a class="btn_menu" href="Help">Help</a>
</div>

</div>
{{end}}