{{/*
// --------------------------------------------------------------------
// message.tmpl -- Displays Message Page. 
//
// Created: 2018-10-01 DLB
//
// --------------------------------------------------------------------
*/}}

<div class="content_area">
<div class="page_title"> {{- .PageTitle -}}</div>

<div class="markdown"> {{.Message}} </div>

</div>