
{{/*
// --------------------------------------------------------------------
// nav.tmpl -- For nav area that fits to left of most pages.
//
// Created: 12/29/14 DLB
// --------------------------------------------------------------------
*/}}

<div id="nav_area">
{{if .IsLoggedIn}}
<div class="btn_nav_div"><a class="btn_nav" href="NewEpicPN"> New </a></div>
<div class="btn_nav_div"><a class="btn_nav" href="Find"> Find </a></div>
{{if .IsAdmin}}
<div class="btn_nav_div"><a class="btn_nav" href="Admin"> Admin </a></div>
{{end}}
<div class="btn_nav_div"><a class="btn_nav" href="Help"> Help </a></div>
{{end}}
</div>
