{{/*
// --------------------------------------------------------------------
// new_epic_pn.tmpl -- template to enter a new epic pn.
//
// Created 2018-09-24 DLB
// --------------------------------------------------------------------
*/}}

<script src="js/fill_selbox.js"></script>

<script type="application/json" id="projects">
{{.ProjectsJson}}
</script>

<script type="application/json" id="designers">
{{.DesignersJson}}
</script>

<script type="application/json" id="parttypes">
{{.PartTypesJson}}
</script>

<script type="text/javascript">

var gShowAllProjects = false
var gShowAllDesigners = false


function updateActiveUI() {
    if (gShowAllProjects) {
        document.getElementById("nep_project_active_btn").innerHTML = "Show Some";
    } else {
        document.getElementById("nep_project_active_btn").innerHTML = "Show All";
    }
    if (gShowAllDesigners) {
        document.getElementById("nep_designer_active_btn").innerHTML = "Show Some";
    } else {
        document.getElementById("nep_designer_active_btn").innerHTML = "Show All";
    }
}

function toggleActiveProjects() {
    gShowAllProjects = !gShowAllProjects;
    updateActiveUI();
    fillProjects("nep_project_field", gShowAllProjects );
    fillSubsystem("nep_subsystem_field", "nep_project_field");
}

function toggleActiveDesigners() {
    gShowAllDesigners = !gShowAllDesigners;
    updateActiveUI();
    fillDesigners("nep_designer_field", gShowAllDesigners);
}

function dofillSubsystem() {
    fillSubsystem("nep_subsystem_field", "nep_project_field");
}

function startUp() {
    updateActiveUI();
    fillProjects("nep_project_field", gShowAllProjects);
    fillSubsystem("nep_subsystem_field", "nep_project_field");
    fillDesigners("nep_designer_field", gShowAllDesigners);
    fillPartTypes("nep_parttype_field");
}

</script>


<div class="content_area">
<div class="page_title"> {{- .PageTitle -}}</div>

<span id="dbmsg"></span>
<div class="inputform_area">
    <form action="SubmitNewEpicPN" method="post">
        <div id="nep_project">
            <div class="inputform_paramblock" id="nep_project_block">
                <div class="inputform_label" id="nep_project_label">Project</div>
                <div class="inputform_selection">
                    <select id="nep_project_field" name="Project" onchange="dofillSubsystem()">
                    </select>
                </div>
                <div id="nep_project_active_div" class="active_btn_div">
                    <button type="button" id="nep_project_active_btn" class="active_btn" onclick="toggleActiveProjects()">Show All</button>
                </div>
            </div>
        </div>
        <div id="nep_designer">
            <div class="inputform_paramblock" id="nep_designer_block">
                <div class="inputform_label" id="nep_designer_label">Designer</div>
                <div class="inputform_selection">
                    <select id="nep_designer_field" name="Designer">
                    </select>
                <div id="nep_designer_active_div" class="active_btn_div">
                    <button type="button" id="nep_designer_active_btn" class="active_btn" onclick="toggleActiveDesigners()">Show All</button>
                </div>

                </div>
            </div>
        </div>
        <div id="nep_subsystem">
            <div class="inputform_paramblock" id="nep_subsystem_block">
                <div class="inputform_label" id="nep_subsystem_label">Subsystem</div>
                <div class="inputform_selection">
                    <select id="nep_subsystem_field" name="Subsystem"></select>
                </div>
            </div>
        </div>
        <div id="nep_parttype">
            <div class="inputform_paramblock" id="nep_parttype_block">
                <div class="inputform_label" id="nep_parttype_label">Part Type</div>
                <div class="inputform_selection">
                    <select id="nep_parttype_field" name="PartType"></select>
                </div>
            </div>
        </div>

        <div id="nep_desc">
            <div class="inputform_paramblock"  id="nep_desc_block">
                <div class="inputform_label" id="nep_desc_label">Description</div>
                <div class="inputform_textarea">
                    <textarea  id="nep_desc_field" name="Description"  rows="2" cols="45" >
                    </textarea>
                </div>
            </div>
        </div>

        <div style="clear: both;"></div>
        <div class="inputform_paramblock">

        <div class="btn_form_submit_div">
            <input class="btn_form_submit" type="submit" value="Submit">
        </div>
    </form>
</div>

{{if .Instructions}} 
    <div class="inputfrom_instructions">
    {{.Instructions}}
    </div> 
{{end}}

</div>

