{{/*
// --------------------------------------------------------------------
// newpn_menubar.tmpl -- New Part Number Menu Bar.
//
// Created: 2018-09-23 DLB
//
// --------------------------------------------------------------------
*/}}

 <style>
    .content_area {min-height: 275px; } 
 </style>

<div class="menubar_area">

<div class="btn_menu_div">
<a class="btn_menu" href="NewEpicPN">New Epic PN</a>
</div>

<div class="btn_menu_div">
<a class="btn_menu" href="NewSupplierPN">New Supplier PN</a>
</div>

<div class="btn_menu_div">
<a class="btn_menu" href="NewCustomPN">New Custom PN</a>
</div>

<div class="btn_menu_div">
<a class="btn_menu" href="NewVendorAsm">New Vendor Asm</a>
</div>


</div>